[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:JakeWharton/ActionBarSherlock.git
[submodule "tree-view-list-android"]
	path = tree-view-list-android
	url = git@github.com:kedzie/tree-view-list-android.git
[submodule "VBoxManager"]
	path = VBoxManager
	url = git@github.com:kedzie/VBoxManager.git
[submodule "VBox-Instrumentation"]
	path = VBox-Instrumentation
	url = git@github.com:kedzie/VBox-Instrumentation.git
[submodule "NineOldAndroids"]
	path = NineOldAndroids
	url = git@github.com:JakeWharton/NineOldAndroids.git
[submodule "fest-android"]
	path = fest-android
	url = git@github.com:square/fest-android.git
